<%= form_for(@generic_item) do |f| %>
  <% if @generic_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@generic_item.errors.count, "error") %> prohibited this generic_item from being saved:</h2>

      <ul>
      <% @generic_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtitle %><br>
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label :keyword %><br>
    <%= f.text_field :keyword %>
  </div>
    <div class="field">
      <%= f.label :creator %><br>
      <%= f.text_field :creator %>
    </div>
    <div class="field">
      <%= f.label :set_number %><br>
      <%= f.text_field :set_number %>
    </div>
    <div class="field">
      <%= f.label :call_number %><br>
      <%= f.text_field :call_number %>
    </div>
    <div class="field">
      <%= f.label :class1 %><br>
      <%= f.text_field :class1 %>
    </div>
    <div class="field">
      <%= f.label :class2 %><br>
      <%= f.text_field :class2 %>
    </div>
    <div class="field">
      <%= f.label :format %><br>
      <%= f.text_field :format %>
    </div>
    <div class="field">
      <%= f.label :format_number %><br>
      <%= f.text_field :format_number %>
    </div>
    <div class="field">
      <%= f.label :media_format %><br>
      <%= f.text_field :media_format %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :publisher %><br>
      <%= f.text_field :publisher %>
    </div>
    <div class="field">
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </div>
    <div class="field">
  <%= f.label :becount %><br>
  <%= f.text_field :becount %>
</div>
    <div class="field">
      <%= f.label :publish_date %><br>
      <%= f.text_field :publish_date %>
    </div>
    <div class="field">
      <%= f.label :extra_format %><br>
      <%= f.text_field :extra_format %>
    </div>
    <div class="field">
      <%= f.label :app_format %><br>
      <%= f.text_field :app_format %>
    </div>
    <div class="field">
      <%= f.label :cover_pic %><br>
      <%= f.text_field :cover_pic %>
    </div>
    <div class="field">
      <%= f.label :the_time %><br>
      <%= f.text_field :the_time %>
    </div>
    <div class="field">
      <%= f.label :data_stamp %><br>
      <%= f.text_field :data_stamp %>
    </div>
    <div class="field">
      <%= f.label :upload_date %><br>
      <%= f.text_field :upload_date %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
