<h1>Listing generic_items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Creator</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @generic_items.each do |generic_item| %>
      <tr>
        <td><%= generic_item.title %></td>
        <td><%= generic_item.subtitle %></td>
        <td><%= generic_item.creator %></td>
        <td><%= link_to 'Show', generic_item %></td>
        <td><%= link_to 'Edit', edit_generic_item_path(generic_item) %></td>
        <td><%= link_to 'Destroy', generic_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Generic item', new_generic_item_path %>
